@import "../../global.scss";

.shortCalendar {
  position: absolute;
  top: 80vh;
  right: 10vw;
  display: flex;
  height: 10%;
  width: 30%; 
  gap: 3px; 
  // border-radius: 5px; 
  // background-color: $palleteGrey;
  justify-content: center;
  align-items: center;
  .past {
    height: 100%;
    width: 20%;
  }
  .today {    
    height: 100%;
    width: 20%;
    transform: translateY(-5px);  
  }
  .next {
    height: 100%;
    width: 20%;
  }
}
.inactive {
  display: none;
}
