
.monthName {
  width: 90%;
  height: 9%;
  background-color: rgb(93, 99, 99);
  border-top-left-radius: 7px 10px;
  border-top-right-radius: 7px 10px;  
  font-weight: 1000;
  color: whitesmoke;
  position: relative;
  .left{    
    color: black;
    // transform: translateX(-40px);
    height: 100%;
  }
  .centerMonthName {
    margin: 0;
    position: absolute;
    top: 50%;      
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
  }
}